pom.xml
*jar
/lib/
/classes/
.lein-failures
.lein-deps-sum
/src/clojure_plays_checkers/#checkers.clj#
/doc/#function-graph.dot#
/doc/.#function-graph.dot
/doc/function-graph (denis-macbook-air's conflicted copy 2011-10-22).dot
/doc/function-graph.png
/src/clojure_plays_checkers/#checkers (denis-macbook-air's conflicted copy 2011-10-22).clj#
/src/clojure_plays_checkers/core (denis-macbook-air's conflicted copy 2011-10-22).clj
/src/clojure_plays_checkers/.#checkers.clj
/doc/*.png
/src/clojure_plays_checkers/#search.clj#
/.#.gitignore
